pratica_01/João Vitor dos Santos Viana/desktop.ini
pratica_02/João Vitor dos Santos Viana/desktop.ini
projeto-integrador/clean_clode_clan/desktop.ini
projeto-integrador/garotos_de_programas/desktop.ini
projeto-integrador/mini-mrp/desktop.ini
projeto-integrador/squad_batmain/src/desktop.ini
projeto-integrador/squad_batmain/src/__pycache__/desktop.ini
projeto-integrador/squad_elite_da_elite/__pycache__/desktop.ini
projeto-integrador/squad_equipe_rocket/desktop.ini
projeto-integrador/squad_memoria_ra/Trabalho/desktop.ini
projeto-integrador/squad_memoria_ra/Trabalho/__pycache__/desktop.ini
node_modules/
[Dd]esktop.ini
.DS_Store

